.title-text {
    font-size: 72px;
    color: rgb(13, 163, 58);
    cursor: pointer;
    vertical-align: middle;
    text-shadow: 2px 2px rgb(125, 3, 165);
    margin-right: 30px;

}

.trade-text {
    font-size: 72px;
    color: rgb(118, 7, 146);
    vertical-align: middle;
    text-shadow: 2px 2px black;
    margin-right: 30px;

}

.add-trade-text {
        font-size: 72px;
        color: rgb(118, 7, 146);
        vertical-align: middle;
        text-shadow: 2px 2px rgb(137, 134, 134);
        margin-right: 30px;
    
    

}

.trade-form {
    margin-top: 3rem;
    max-height: 600px;
    overflow:hidden;
}

.trade-form-body {
    background-color: rgb(78, 76, 76);
    border-radius: 10px;
    margin-top: 3rem;
}




.trade-add-pic{
    min-height: 549px;
    width: 100%;
    min-width:600px;
}


.trade-text {
    font-size: 72px;
    color: rgb(118, 7, 146);
    vertical-align: middle;
    text-shadow: 2px 2px rgb(176, 173, 173);
    margin-right: 30px;

}

.trade-header {
    width: 100%;
    background-color: green;
    padding: 8px;
    min-height: 22px;
    text-align: center
}

.trade-add-left {
    min-width: 600px;
}