.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-base {
  width: 100%;
  max-width: 1512px;
  min-width: 840px;
}

.app-base.outer {
 
  height: 100%;
  justify-content: center;
  align-content: center;
  background-color: #282c34;
  display: flex;
}

.app-base.inner{
  
  
}

.app-base.body {
 
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scrolling-parent {
  height:18.5rem;
  overflow: hidden;
}

.scrolling-box {
    height:100%;
    
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);

    -moz-animation: scrolling-animation 32s linear infinite;
    -webkit-animation: scrolling-animation 32s linear infinite;
    animation: scrolling-animation 15s linear infinite;
}

@-moz-keyframes scrolling-animation {
  from { -moz-transform: translateY(100%);}
  to { -moz-transform: translateY(-100%);}
}

@-webkit-keyframes scrolling-animation {
  from { -webkit-transform: translateY(100%);}
  to { -webkit-transform: translateY(-100%);}
}

@keyframes scrolling-animation {
  from {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  
}

