.register-form {
    margin-top: 3rem;
}



.register-add-pic{
    height: 500px;
    width: 
}


.register-add-left {
   
    width: 600px;
}

.register-add-right {
    width: 100%;
}